services:
  web:
    build: .
    networks:
      - proxy
    labels:
      - traefik.enable=true
      - traefik.http.routers.portfolio.rule=Host(`josiahsmith.dev`)
      - traefik.http.routers.portfolio.entrypoints=websecure
      - traefik.http.services.portfolio.loadbalancer.server.port=80
networks:
  proxy:
    external: true

