@import "tailwindcss";

@plugin "@tailwindcss/typography";

@custom-variant dark (&:is(.dark *));

@theme {
	--font-sans:
		Inter, ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji",
		"Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
	--font-serif:
		Lora, ui-serif, Georgia, Cambria, "Times New Roman", Times, serif;
}

/*
  The default border color has changed to `currentcolor` in Tailwind CSS v4,
  so we've added these compatibility styles to make sure everything still
  looks the same as it did with Tailwind CSS v3.

  If we ever want to remove these styles, we need to add an explicit border
  color utility to any element that depends on these defaults.
*/
@layer base {
	*,
	::after,
	::before,
	::backdrop,
	::file-selector-button {
		border-color: var(--color-gray-200, currentcolor);
	}
}

@layer utilities {
	html {
		overflow-y: scroll;
		color-scheme: light;
	}

	html.dark {
		color-scheme: dark;
	}

	html,
	body {
		/* @apply size-full; */
		min-height: 100vh;
	}

	body {
		@apply font-sans antialiased;
		@apply flex flex-col;
		@apply bg-stone-100 dark:bg-neutral-900;
		@apply text-black/50 dark:text-white/75;
	}

	/* header {
  @apply fixed bottom-0 left-0 right-0 z-50 py-5;
  @apply bg-stone-100/75 dark:bg-neutral-900/25;
  @apply backdrop-blur-sm saturate-200;
} */

	header {
		@apply fixed bottom-0 inset-x-0 z-50 py-4;
		@apply bg-transparent;
	}

	.nav {
		@apply flex flex-wrap gap-y-2 justify-between;
		@apply bg-stone-50/85 dark:bg-neutral-800/85 py-3 px-4 rounded-lg;
		@apply border dark:border-white/10;
		@apply backdrop-blur-xs saturate-200;
		box-shadow:
			0 0px 15px -3px rgb(0 0 0 / 0.1),
			0 0px 6px -4px rgb(0 0 0 / 0.1);
	}

	main {
		@apply flex-1 py-20;
	}

	footer {
		@apply py-5 text-sm pb-[82px];
	}

	article {
		@apply max-w-full prose dark:prose-invert prose-img:mx-auto prose-img:my-auto;
		@apply prose-headings:font-semibold prose-p:font-serif;
		@apply prose-headings:text-black dark:prose-headings:text-white;
	}

	.copy-code {
		--color: oklch(0.2781 0.0117 248.25);
		--hover-color: oklch(from var(--color) calc(l + 0.08) c h);
		@apply absolute right-1 top-1;
		@apply bg-(--color) text-white border border-white/20 px-2 py-0.5 rounded-xs m-0.5 font-light;
		@apply hover:bg-(--hover-color) transition-colors;
	}
}

@layer utilities {
	article a {
		@apply font-sans text-current underline underline-offset-2;
		@apply decoration-black/15 dark:decoration-white/30;
		@apply transition-colors duration-300 ease-in-out;
	}

	article a:hover {
		@apply text-black dark:text-white;
		@apply decoration-black/25 dark:decoration-white/50;
	}
}

.animate {
	@apply opacity-0 translate-y-3;
	@apply transition-all duration-700 ease-in-out;
}

.animate.show {
	@apply opacity-100 translate-y-0;
}

html #back-to-top {
	@apply opacity-0 pointer-events-none;
}

html.scrolled #back-to-top {
	@apply opacity-100 pointer-events-auto;
}
