---
import Footer from "@components/Footer.astro";
import Head from "@components/Head.astro";
import Header from "@components/Header.astro";
import { SITE } from "@consts";

type Props = {
	title: string;
	description: string;
};

const { title, description } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <Head title={`${title} | ${SITE.NAME}`} description={description} />
  </head>
  <body>
    <Header />
    <main>
      <slot />
    </main>
    <Footer />
  </body>
</html>

<script>
  import { hover } from "@lib/utils";
  import { animate, spring } from "animejs";

  const scale = 1.1;
  const rotation = 25;
  const duration = 150;

  const config = {
    stiffness: 300,
    damping: 10,
    mass: 1
  };


  function setup() {
    hover("[data-component=boop]", (element) => {
      animate(element, {
        keyframes: [
          { scale, rotate: rotation, duration, ease: "outSine"},
          { scale: 1, rotate: 0, ease: spring(config) }
        ]
      })
    })
  }

  document.addEventListener("astro:page-load", setup);
</script>
